---
title: "Leveraging semantic technologies for digital interoperability in the European Railway domain"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Julián Andrés Rojas', 'https://julianrojas.org/', 'https://julianrojas.org/#me' %>{:#idlab}<sup>1</sup>
- <%= person 'Marina Aguado', 'https://era.europa.eu', '#marinaaguado' %>{:#era}<sup>2</sup>
- <%= person 'Polymnia Vasilopoulou', 'https://era.europa.eu', '#polymniavasilopoulou' %>{:#era}<sup>2</sup>
- <%= person 'Ivo Velitchkov', 'https://ec.europa.eu/info/departments/informatics_en', '#ivovelitchkov' %>{:#digit}<sup>3</sup>
- <%= person 'Dylan Van Assche', 'https://dylanvanassche.be/', 'https://dylanvanassche.be/#me' %>{:#idlab}<sup>1</sup>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>{:#idlab}<sup>1</sup>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>{:#idlab}<sup>1</sup>

{:#affiliations}
- {:#idlab} <sup>1</sup>IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
- {:#era} <sup>2</sup>European Union Agency for Railways
- {:digit} <sup>3</sup>DG DIGIT



<section class="context">
  <h2 id="in-reply-to">In reply to</h2>
  <ul>
    <li><a href="https://julianrojas.org/papers/iswc2021-in-use" rel="as:inReplyTo">The In-Use call of 20th International Semantic Web Conference</a></li>
  </ul>
</section>
<div class="printonly" style="margin-bottom: 0.5em; font-size: 0.9em">Preprint HTML version at <a href="https://julianrojas.org/papers/iswc2021-in-use">https://julianrojas.org/papers/iswc2021-in-use</a></div>
        

<%= section 'abstract' %>
</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction'  %>
  <%= section 'related-work'  %>
  <%= section 'base-registries'  %>
  <%= section 'proposed-solution'  %>
  <%= section 'discussion'  %>
  <%= section 'conclusion-future-work'  %>
  <%= section 'acknowledgements' %>
</main>

<footer>
</footer>
